html {
    font-family: deja-vu sans, sans;
    font-size: 10pt;
}
div {
    #border: 1px solid red;
}

#top {
    height: 100pt;
}
#menu {
    float: left;
    width: 200pt;
    font-size: 9pt;
}
#menu > div {
    font-weight: bold;
    clear: both;
}
#menu > a {
    clear: both;
    padding-left: 10pt;
    display: block;
}
#menu > hr {
    clear: both;
    border: none;
    border-bottom: 1px solid #CCCCCC;
}
#menu > form > div {
    clear: both;
    padding-left: 10pt;
}
#menu > form > div > label {
    display: inline-block;
    vertical-align: middle;
    line-height: 18pt;
}
#menu > form > div > input {
    float: right;
    font-family: inherit;
    font-size: 9pt;
}
#menu > form > div > button {
    float: right;
    font-family: inherit;
    font-size: 9pt;
}
#menusepbar {
    float: left;
    width: 5pt;
    margin-right: 5pt;
    height: 100%;
    min-height: 300pt;
    border-right: 1px solid #CCCCCC;
}
#content {
    padding-left:210pt;
    witdh: 100%;
    min-height: 300pt;
}
#footer {
    height: 100pt;
}