/*******************************************************************************
 *
 * Gestion des offres de stage de M2 en Astro
 * (c) Raphaël Jacquot 2011
 * Fichier sous licence GPL-3
 *
 ******************************************************************************/

@media screen {
    h1 {
	font-size: 14pt; 
	font-weight: bold;
	margin-bottom: 1ex;
    }
    h2 {
	font-size: 12pt; 
	font-weight: bold;
	font-style: italic;
	margin-bottom: 1ex;
    }
    div.link {
	text-align: right;
	width: 600pt;
    }
    div.detail {
	min-height: 1.8em;
	line-height: 1.5em;
	width: 600pt;
	text-align: justify;
    }
    div.detail > input {
	padding: 0;
	margin: 0;
	height: 1.2em;
	width: 400pt;
    }
    button.edit {
	position: relative;
	width: 40pt;
    }
    #content > hr {
	border: none;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 0;
	width: 600pt;
    }
    #validate {
	width: 600pt;
	text-align: right;
    }
    #validate > span {
	font-style: italic;
	font-weight: bold;
    }
}
@media print {
    h1 {
	font-size: 12pt;
	font-weight: bold;
	margin-top : 4pt;
	margin-bottom: 2pt;
    }
    h2 {
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	margin-top: 4pt;
	margin-bottom: 2pt;
    }
    .link {
	display: none;
    }
    .detail {
	text-align: justify;
    }
    #validate, hr {
	display: none;
    }
}
