.header {
  display: block;
  flex-flow: column;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  background-color: #ccc;
}
.header span {
  display: inline-block;
  padding: 5pt;
  font-family: sans-serif !important;
}
.user-row {
  display: block;
  flex-flow: column;
  text-decoration: none;
  color: black;
  vertical-align: middle;
}
.inactive {
  color: #888;
}
.user-row:nth-child(odd) {
  background-color: #eee;
}
.user-row:hover {
  background-color: #ccf !important;
}
.user-row span {
  display: inline-block;
  padding: 5pt;  
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}
.login {
  width: 10em;
}
.admin {
  width: 10em;
}
.lname {
  width: 10em;
}
.fname {
  width: 10em;
}
.header .state {
font-size: 10pt;
}
.state {
  width: 25pt;
  vertical-align: top;
  font-size: 18px;
}
.email {
  width: 25em;
}
.labo {
  width: 30em;
}
.last-access {
  width: 13em;
  font-family: monospace;
}
.alert {
  color: blue;
  font-weight: bold;
  width: 5em;
  text-align: center;
}
.warn {
  color: orange;
  font-weight: bold;
  width: 5em;
  text-align: center;
}
.locked {
  color: red;
  font-weight: bold;
  width: 5em;
  text-align: center;
}
.unlock {
  display: inline;
}
