/*******************************************************************************
 *
 * Gestion des offres de stage de M2 en Astro
 * (c) Raphaël Jacquot 2011
 * Fichier sous licence GPL-3
 *
 ******************************************************************************/

h1 {
    font-size: 14pt; 
    font-weight: bold;
    margin-bottom: 1ex;
}
label {
    font-size: 10pt;
    font-weight: normal;
    vertical-align: text-bottom;
}
.header > span  {
    font-size: 12pt;
    padding-bottom: 18pt;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
}
.offre > a {
    display: inline-block;
    color: black;
    height: 16pt;
    line-height: 14pt;
    text-decoration: none;
}
.offre > span, .offre > * > span {
    display: inline-block;
    height: 16pt;
    vertical-align: bottom;
}
.odd > span, .odd > * > span {
    background-color: #e7e7e7;
}
.checkbox {
    width: 18pt;
}
.sujet {
    width: 350pt;
}
.labo {
    width: 40pt;
}
.ville {
    width: 100pt;
}
.m2 {
    width: 25pt;
    text-align: center;
    border-left: 1px solid #cccccc;
}
.m2hdr {
    font-size: 8pt;
    line-height: 8pt;
    width: 40pt;
    height: 16pt;
    text-rendering: geometricPrecision;
    display: inline-block;
    -moz-transform: translate(-8pt, 4pt) rotate(-70deg);
    -webkit-transform: translate(-8pt, 4pt) rotate(-70deg);
    -o-transform: translate(-8pt, 4pt) rotate(-70deg);
    -ms-transform: translate(-8pt, 4pt) rotate(-70deg);
    transform: translate(-8pt, 4pt) rotate(-70deg);
}
.buttons {
    width: 600pt;
}
#content > hr, #content > form > hr {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 0;
    margin-bottom: 12pt;
}
