#add-labo {
	border: 1px solid #ccc;
	background-color: #ddd;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 22pt;
	height: 22pt;
	text-decoration: none;
	color: black;
	line-height: 22pt;
	border-radius: 3px;
}
.type-unite {
	display: inline-block;
	width: 5em;
}
.unit-id {
	display: inline-block;
	width: 5em;
}
.sigle {
	display: inline-block;
	width: 10em;
}
.desc {
	display: inline-block;
	width: 50em;
}

