/*******************************************************************************
 *
 * Gestion des offres de stage de M2 en Astro
 * (c) Raphaël Jacquot 2011
 * Fichier sous licence GPL-3
 *
 ******************************************************************************/

#labo-address {
    display: inline-block;
    border: 1px solid #cccccc;
    background: #ffffcc;
    width: 300pt;
    height: 40pt;
}