<?php
/*******************************************************************************
 *
 * Gestion des offres de stage de M2 en Astro
 * (c) Raphaël Jacquot 2011
 * Fichier sous licence GPL-3
 *
 ******************************************************************************/
$EN_TRAVAUX=False;
$SERVER_EMAIL='user@server.com';
$TZ='Europe/Paris';

$MAX_CHARS=2500;

$DB_HOST="localhost";
$DB_PORT="5432";
$DB_NAME="stcoll";
$DB_USER="stcollweb";
$DB_PASS="test";
$DB_ADMIN_USER="stcolladm";
$DB_ADMIN_PASS="testadm";

$MAIL_SRV="stcoll.sxpert.org";

$JQUERY_VER="1.11.1";
$JQUERYUI_VER="1.11.1";
$JQUERYUI_THEME="smoothness";

// mois / jour
$BLACKOUT_DATE= [10,21];

$HTTP_OPTS=array(
		 'timeout'=>5,
#        'proxyhost'=>'www-cache.ujf-grenoble.fr',
#        'proxyport'=>3128,
#        'proxytype'=>HTTP_PROXY_HTTP
		 );

$DEBUG=false;
$DEBUG_IPS=array();

?>
